always-auth=true
//npm.greensock.com/:_authToken=f77cd92b-97e1-4171-8fb6-4e0bd8024c3a
//registry.npmjs.org/:_authToken=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
@gsap:registry=https://npm.greensock.com