@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./devices";

@layer base {
  html {
    height: 100%;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  p {
    @apply text-base;
  }
  pre {
    @apply text-sm;
  }
  a {
    @apply text-black;
    @apply font-medium;
    @apply transition-colors;
  }
  a:hover {
    @apply text-violet-600;
  }
  a.active {
    @apply text-violet-600;
  }

  .content {
    a:not(.button) {
      @apply text-violet-600;
      @apply underline;
      &:hover {
      }
      &.active {
      }
    }
  }

  form {
    [type="text"],
    [type="email"],
    textarea {
      // @apply bg-black;
      @apply border-t-0;
      @apply border-l-0;
      @apply border-r-0;
      @apply px-0;
      // @apply border-black-shade-800;
    }
    label {
      @apply text-xxs;
      @apply leading-none;
      @apply mt-2;
      @apply uppercase;
      @apply tracking-wide;
    }
  }

  .dark {
    a:not(.button) {
      // @apply text-violet-400;
      @apply text-white;
      &:hover {
        @apply text-violet-400;
      }
      &.active {
        @apply text-violet-400;
      }
    }
    form {
      [type="text"],
      [type="email"],
      textarea {
        @apply bg-black;
        @apply border-black-shade-800;
      }
      label {
        @apply text-black-shade-400;
      }
    }
    .content {
      a:not(.button) {
        @apply text-violet-400;
        @apply underline;
        &:hover {
        }
        &.active {
        }
      }
    }
  }
}

.nav-link + .nav-link {
  margin-left: 1em;
}

body.dark {
  @apply text-black-shade-50;
  @apply bg-black;
}

body.light {
  @apply text-black-shade-900;
  @apply bg-white;
}

.project-content {
  @apply mx-auto;
  .project-detail,
  h2,
  h3,
  table,
  > p,
  > ul,
  > ol {
    @apply w-k7;
    @apply mx-auto;
    @apply xs:w-k8;
    @apply md:w-k7;
    @apply lg:w-k5;
    @apply pl-4;
    @apply pr-4;
  }
  p + p {
    @apply mt-4;
  }
  .inline-image {
    @apply w-k7;
    @apply mx-auto;
    @apply xs:w-k8;
    @apply md:w-k7;
    @apply lg:w-k5;
    @apply pl-8;
    @apply pr-8;
  }
  ul {
    @apply list-disc;
    li {
      @apply pl-2;
      @apply ml-4;
    }
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
}
